<h1>Guilds</h1>

<%= link_to "Create New Guild", new_guild_path %>

<div id="guilds">
  <% @guild.each do |guild| %>
    <h2><%= link_to guild.name, guild %></h2>
    <p><%= guild.game %></p>
  <% end %>
</div>
