<h1>Guilds</h1>

<%= link_to "Create Guild", new_guild_path %>

<div id="guilds">
  <% @guild.each do |guild| %>
    <ol>
      <li>
        <h3><%= guild.game %></h3>
        <h2><%= link_to guild.name, guild %></h2>
      </li>
    </ol>
  <% end %>
</div>
