@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

.main {
  @include outer-container;
  h1 {
    font-size: 2em;
  }
}

nav {
  background-color: #d8d8d8;
  @include display(flex);
  @include span-columns(12);
  margin: em(20) 0;
  padding: 20px;
}


.navbar_right {
  @include span-columns(4 of 12);
  @include shift(8);
}


.logo {
  font-size: 2.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
  padding: 20px;
}

.index {
  margin: .75em 0 0 0;
  h2 {
    font-size: 1.5em;
  }
  li {
    @include span-columns(4 of 8);
    padding: 20px;
  }
}
